.production {
  padding-top: 30px;
  padding-bottom: 58px;

  .container {
    border: 1px solid #ececec;
  }
}

.production__title {
  position: relative;

  padding-left: 91px;
  padding-bottom: 20px;
  padding-top: 20px;

  color: #000000;
  font-family: $verdana;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.production__title::before {
  content: "";
  position: absolute;
  top: 31px;
  left: 34px;

  // display: block;
  width: 32px;
  height: 22px;

  background-image: url("../img/video.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.production__video {
  position: relative;

  width: 260px;
  height: 150px;

  background-image: url("../img/video.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.production__video::after {
  content: "";
  position: absolute;
  left: 80px;
  top: 40px;

  // display: block;
  width: 101px;
  height: 77px;

  background-image: url("../img/play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.production__description {
  margin: 0;
  padding: 30px 0 20px 34px;

  color: #444444;
  font-family: $open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.production__button {
  // width: auto;
  padding: 20px 28px;
  margin: 0 34px 30px 34px;

  color: #444444;
  font-family: $open-sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  border: 2px solid #444444;
  background-color: #ffffff;
}
