<header class="page-header">
  <h1 class="visually-hidden">Mishka - магазин вязаных игрушек</h1>
  <div class="page-header__logo">
    <img src="img/logo.svg" width="86" height="35" alt="logo">
  </div>
  <nav class="main-nav">
    <button class="main-nav__toggle  main-nav__toggle--closed" type="button"><span class="visually-hidden">Открыть меню</span></button>
    <!-- <div class="main-nav__wrapper"> -->
      <ul class="main-nav__list">
        <li class="main-nav__item"><a href="#">Каталог товаров</a></li>
        <li class="main-nav__item"><a href="#">Вязание на заказ</a></li>
        <li class="main-nav__item  main-nav__item-search"><a href="#">Поиск по сайту</a></li>
        <li class="main-nav__item  main-nav__item-basket"><a href="#">Корзина: пока пуста</a></li>
      </ul>
    <!-- </div> -->
  </nav>
</header>
