<header class="page-header">
  <a href="index.html" class="page-header__logo">
    <img src="img/logo.svg" width="86" height="35" alt="logo">
  </a>
  <nav class="main-nav">
    <button class="main-nav__toggle  main-nav__toggle--closed" type="button"><span class="visually-hidden">Открыть меню</span></button>
    <!-- <div class="main-nav__wrapper"> -->
      <ul class="main-nav__list">
        <li class="main-nav__item"><a href="catalog.html">Каталог товаров</a></li>
        <li class="main-nav__item"><a href="form.html">Вязание на заказ</a></li>
        <li class="main-nav__item  main-nav__item-search"><a href="#">Поиск по сайту</a></li>
        <li class="main-nav__item  main-nav__item-basket"><a href="#">Корзина: пока пуста</a></li>
      </ul>
    <!-- </div> -->
  </nav>
</header>
