<footer class="page-footer">
  <div class="container">
    <ul class="page-footer__social-list">
      <li class="page-footer__social-item page-footer__social-item--insta"><span class="visually-hidden">Instagram</span></li>
      <li class="page-footer__social-item page-footer__social-item--fb"><span class="visually-hidden">Facebook</span></li>
      <li class="page-footer__social-item page-footer__social-item--tw"><span class="visually-hidden">Twitter</span></li>
    </ul>
    <ul class="page-footer__development">
      <li>Разработано</li>
      <li><a href="https://htmlacademy.ru/"></a></li>
  </div>
</footer>
