<footer class="page-footer">
  <div class="container">
    <a class="page-footer__logo">
      <img src="img/logo-footer.svg" width="102" height="34" alt="logo">
      </a>
    <ul class="page-footer__social-list">
      <li class="page-footer__social-item page-footer__social-item--insta"><a href="https://www.instagram.com/"><span class="visually-hidden">Instagram</span></a></li>
      <li class="page-footer__social-item page-footer__social-item--fb"><a href="https://www.facebook.com/"><span class="visually-hidden">Facebook</span></a></li>
      <li class="page-footer__social-item page-footer__social-item--tw"><a href="https://twitter.com/"><span class="visually-hidden">Twitter</span></a></li>
    </ul>
    <ul class="page-footer__development">
      <li>Разработано</li>
      <li><a href="https://htmlacademy.ru/"></a></li>
    </ul>
  </div>
</footer>
