.about {
  padding-top: 72px;
}

.about__list {
  padding: 0;
  padding-top: 30px;
  margin: 0;

  font-family: $verdana;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  list-style: none;
}

.about__item {
  padding-bottom: 30px;
}

.about__item--eco::before {
  content: "";

  display: block;
  width: 32px;
  height: 37px;
  margin-bottom: 17px;

  background-image: url("../img/icon-1.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--scandi::before {
  content: "";

  display: block;
  width: 47px;
  height: 27px;
  margin-bottom: 17px;

  background-image: url("../img/icon-3.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--like::before {
  content: "";

  display: block;
  width: 34px;
  height: 27px;
  margin-bottom: 17px;

  background-image: url("../img/icon-5.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--handmade::before {
  content: "";

  display: block;
  width: 35px;
  height: 34px;
  margin-bottom: 17px;

  background-image: url("../img/icon-2.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--domestic::before {
  content: "";

  display: block;
  width: 55px;
  height: 23px;
  margin-bottom: 17px;

  background-image: url("../img/icon-4.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--gift::before {
  content: "";

  display: block;
  width: 33px;
  height: 32px;
  margin-bottom: 17px;

  background-image: url("../img/icon-6.svg");
  background-repeat: none;
  background-position: 0 0;
}

.reviews {
  margin: 0;
  padding-top: 30px;

  font-family: $verdana;
  font-size: 24px;
  line-height: 30x;
  font-weight: 700;
  color: #000000;
}

.reviews:first-letter {
  text-transform: uppercase;
}

.review__text {
  margin: 0;
  padding-top: 30px;

  line-height: 30xp;
}

.review__author {
  margin: 0;
  padding-top: 15px;

  font-family: $verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.review__author-email {
  margin: 0;

  line-height: 30px;
  font-family: $open-sans;
  color: #444444;
  font-weight: 400;

}

.reviews__button {
  padding-top: 30px;

  border: 1px solid #ececec;
}

.reviews__button-left {
  width: 50px;
  height: 26px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.reviews__button-right {
  width: 50px;
  height: 26px;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  transform: rotate(180deg);
}

.reviews__button-submit {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 20px 0;

  font-family: $open-sans;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;

  border: 2px solid #444444;
  background-color: #ffffff;
}
