.about {
  padding-top: 30px;
  padding-bottom: 30px;
  // padding: 72px 30px 0 30px;
}

.about__list {
  padding: 0;
  padding-top: 30px;
  margin: 0;

  font-family: $verdana;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  list-style: none;

  @include tablet-widths {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: baseline;
    align-content: space-around;

    font-size: 20px;
  }
}

.about__item {
  padding-bottom: 30px;

  @include tablet-widths {
    flex-basis: 45%;
    // margin-right: 50px;
    // padding-bottom: 0;
  }
}

.about__item--eco::before {
  content: "";

  display: block;
  width: 32px;
  height: 37px;
  margin-bottom: 17px;

  background-image: url("../img/icon-1.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--scandi::before {
  content: "";

  display: block;
  width: 47px;
  height: 27px;
  margin-bottom: 17px;

  background-image: url("../img/icon-3.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--like::before {
  content: "";

  display: block;
  width: 34px;
  height: 27px;
  margin-bottom: 17px;

  background-image: url("../img/icon-5.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--handmade::before {
  content: "";

  display: block;
  width: 35px;
  height: 34px;
  margin-bottom: 17px;

  background-image: url("../img/icon-2.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--domestic::before {
  content: "";

  display: block;
  width: 55px;
  height: 23px;
  margin-bottom: 17px;

  background-image: url("../img/icon-4.svg");
  background-repeat: none;
  background-position: 0 0;
}

.about__item--gift::before {
  content: "";

  display: block;
  width: 33px;
  height: 32px;
  margin-bottom: 17px;

  background-image: url("../img/icon-6.svg");
  background-repeat: none;
  background-position: 0 0;
}

.reviews {
  padding-top: 30px;

  @include tablet-widths {
    padding-top: 80px;
    padding-bottom: 100px;

    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;
    background-position: left center;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.reviews__title {
  margin: 0;


  font-family: $verdana;
  font-size: 24px;
  line-height: 30x;
  font-weight: 700;
  color: #000000;

  @include tablet-widths {
    order: -2;

    font-size: 40px;
    line-height: 50px;
  }
}

.reviews__title:first-letter {
  text-transform: uppercase;
}

.reviews__slider {
  width: 100%;
  padding-bottom: 125px;
}

.reviews__text {
  margin: 0;
  padding-top: 30px;

  line-height: 30xp;

  @include tablet-widths {
    font-size: 16px;
  }
}

.reviews__author {
  margin: 0;
  padding-top: 15px;

  font-family: $verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.reviews__author-email {
  margin: 0;

  line-height: 30px;
  font-family: $open-sans;
  color: #444444;
  font-weight: 400;

}

.reviews__buttons {
  display: flex;
  padding-top: 30px;
}

.reviews__button {
  // padding-top: 30px;
  width: 50%;
  height: 52px;

  background-repeat: no-repeat;
  background-position: center center;

  border: 1px solid #ececec;
  outline: none;

  @include tablet-widths {
    width: 50px;
    height: 26px;

    border: none;
  }
}

.reviews__button-left {
  position: absolute;
  bottom: 40px;
  left: 0;
  // width: 50px;
  // height: 26px;

  background-image: url("../img/arrow.svg");

  @include tablet-widths {
    left: 523px;

    margin-right: 37px;
  }
}

.reviews__button-right {
  position: absolute;
  bottom: 40px;
  right: 0;
  // width: 50px;
  // height: 26px;

  background-image: url("../img/arrow.svg");

  transform: rotate(180deg);
}

.reviews__button-submit {
  display: block;
  width: 100%;
  padding: 20px 0;

  font-family: $open-sans;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;

  border: 2px solid #444444;
  background-color: #ffffff;

  @include tablet-widths {
    order: -1;

    width: auto;
    padding: 20px 40px;
    margin-top: 0;
  }
}
