.contacts__address {
  line-height: 30px;
}

.contacts__button {
  font-size: 16px;
  font-weight: 700;
  color: #444444;
  text-transform: uppercase;

  border: 2px solid #444444;
}

.contacts__map {
  width: 320px;
  height: 457px;

  border: none;
}
