.featured {
  padding: 0;
  padding-bottom: 35px;

  .container {
    display: flex;
    flex-direction: column;

    @include tablet-widths {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}

.featured__title {
  padding-top: 10px;

  font-family: $open-sans;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;

  br {
    display: none;
  }

  @include tablet-widths {
    margin-right: 30px;
    margin-left: auto;

    text-align: center;

    br {
      display: inline;
    }
  }
}

.product {
  margin: 0;
}

.product-title {
  order: -1;
  // align-self: center;
  margin: 0;
  padding-top: 30px;

  font-family: $verdana;
  font-size: 24px;
  line-height: 30x;
  font-weight: 700;
  color: #000000;

  @include tablet-widths {
    font-size: 40px;
    line-height: 50px;
  }
}

.product-wrapper {
  padding-top: 25px;

  @include tablet-widths {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;
    height: 500px;
  }
}

.product-description {
  margin: 0;
  // padding-top: 25px;

  font-family: $open-sans;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  @include tablet-widths {
    // margin-right: 50px;
    width: 272px;
    // flex-basis: 272px;

    font-size: 16px;
    line-height: 30px;
  }
}

.product-table {
  width: 100%;
  padding-top: 25px;

  border-collapse: collapse;

  @include tablet-widths {
    width: 272px;

    font-size: 15px;
  }
}

.product-table__row {
  border-bottom: 1px solid #ebebec;
}

.product-table__row td {
  padding: 10px 0;
}

.product-title__td {
  padding-right: 36px;
}

.product__img {
  padding-top: 30px;
  order: 1;
  // width: 100%;

  .product__img--tablet {
    width: auto;
    display: none;
  }

  @include tablet-widths {
    // flex-grow: 2;
    padding-top: 5px;
    margin-left: 50px;
    // margin-right: 50px;

    .product__img--mobile {
      display: none;
    }

    .product__img--tablet {
      display: block;
    }
  }
}

.product-price {
  margin: 0;
  padding-top: 30px;

  font-family: $verdana;
  font-size: 16px;
  line-height: 24x;
  font-weight: 700;
  color: #444444;

  @include tablet-widths {
    font-size: 18px;
  }
}

.featured__button {
  width: 100%;
  margin-top: 30px;
  padding: 18px 0;

  font-family: $open-sans;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;

  border: 2px solid #444444;
  background-color: #ffffff;

  @include tablet-widths {
    width: 272px;
  }
}
