.top {
  background-image: url("../img/top-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.top__title {
  margin: 0;
  padding: 93px 30px 0 30px;

  color: #231f20;
  font-family: $verdana;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.top__list {
  padding: 0;
  padding-top: 127px;
  margin: 0;

  list-style: none;
}

.top__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;

  font-family: $tahoma;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.top__interior {
  // padding-top: 23px;
  // padding-bottom: 18px;

  background-color: #63d1bb;
}

.top__interior::after {
  content: "";

  display: block;
  width: 40px;
  height: 62px;

  background-image: url("../img/interior.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  // opacity: 0.5;
}

.top__toys {
  // padding-top: 21px;
  // padding-bottom: 22px;

  background-color: #56c3b2;
}

.top__toys::after {
  content: "";

  display: block;
  width: 60px;
  height: 60px;

  background-image: url("../img/toy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  // opacity: 0.5;
}
