 body {
  // width: 320px;

  font-family: $open-sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: $body-color;
  box-sizing: border-box;

  background-color: $bg-color;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;

  background: none;

  cursor: pointer;
}

h2 {
  margin: 0;

  font-family: $verdana;
  font-size: 24px;
  line-height: 30x;
  font-weight: 700;
  color: #000000;
}

h2:first-letter {
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;

  // &[href]:hover,
  // &[href]:focus {
  //   opacity: 0.6;
  // }

  // &[href]:active {
  //   opacity: 0.3;
  // }
}

// .visually-hidden {
//   position: absolute;

//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;

//   overflow: hidden;
// }

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=checked].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  // width: 320px;
  margin: 0 auto;
  min-width: 260px;
  padding: 0 30px;

  @include tablet-widths {
    width: 668px;
  }
}

.line {
  width: 100%;
  height: 6px;

  background-color: f1f1f1;
  background-image: url("../img/zigzag-line.png");
  background-repeat: repeat no-repeat;
}
