.page-footer {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #f1f1f1;

  @include tablet-widths {
    padding: 50px 0;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }
}

.page-footer__logo {
  display: none;

  @include tablet-widths {
    display: block;
  }
}

.page-footer__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;

  list-style: none;

  border-bottom: 1px solid #e4e4e4;

  @include tablet-widths {
    padding-bottom: 0;

    border: none;
  }
}

.page-footer__social-item {
  padding-right: 40px;
}

.page-footer__social-item:last-child {
  padding-right: 0;
}

.page-footer__social-item--insta a {
  display: block;
  width: 22px;
  height: 21px;

  background-image: url("../img/insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-footer__social-item--fb a {
  display: block;
  width: 15px;
  height: 28px;

  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-footer__social-item--tw a {
  display: block;
  width: 23px;
  height: 20px;

  background-image: url("../img/tw.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-footer__development {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 30px;

  font-family: $verdana;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;

  list-style: none;

  @include tablet-widths {
    padding-top: 0;
  }
}

.page-footer__development li:first-child {
  padding-right: 25px;
}

.page-footer__development a {
  display: block;
  width: 27px;
  height: 34px;

  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

// .page-footer__development::after {
//   content: "";

//   display: block;
//   width: 27px;
//   height: 34px;

//   background-image: url("../img/htmlacademy.svg");
//   background-repeat: no-repeat;
//   background-position: 0 0;
// }
