.page-header {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.main-nav__toggle--closed {
  width: 20px;
  height: 14px;

  background-image: url("../img/menu-closed.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.main-nav__toggle--open {
  width: 21px;
  height: 20px;

  background-image: url("../img/menu-open.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.main-nav__list {
  display: none;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.main-nav__toggle--open ~ .main-nav__list {
  display: block;
}

.main-nav__item-search::before {
  content: "";

  display: block;
  width: 22px;
  height: 22px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.main-nav__item-basket::before {
  content: "";

  display: block;
  width: 27px;
  height: 25px;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}
